*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1{
	color: #426696;
	font-weight: 600;
	font-size: 3rem;
	opacity: 0.8;
}
h2,
p,
a,
label{
	color: #658ec6;
	font-weight: 400;
	opacity: 0.8;
}
h3{
	color: #426696;
	font-weight: 600;
	opacity: 0.8;
}
main{
	font-family: 'Poppins', sans-serif;
	min-height: 100vh; 
	background: linear-gradient(to right top, #65dfc9, #6cdbed);
	display: flex;
	align-items: center;
	justify-content: center;
}

.glass,
.glass2{
	background: white;
	height: 92vh;
	width: 60%;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	border-radius: 2rem;
	z-index: 2;
	backdrop-filter: blur(2rem);
	display: flex;
}
.glass2{
	width: 5%;
	flex-direction: column;
	margin-right: 20px;
}
.glass2 h1{
	font-size: 1rem;
	text-align: center;
	padding-top: 50px;
}

.circle-glass1,
.circle-glass2{
	background: white;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
	position: absolute;
	border-radius: 50%;
}
.circle-glass1{
	height: 20rem;
	width: 20rem;
	top: 2%;
	right: 10%;
}
.circle-glass2{
	height: 17rem;
	width: 17rem;
	bottom: 1%;
	left: 11.5%;
}
.dashboard{
	flex: 0.1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	border-radius: 2rem;
}
.dashboard h1{
	margin-top: 50px;
}
.member{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 25px;
}
.member div{
	padding-top: 15px;
}
.member img{
	max-width: 40%;
	max-height: 40%;
	width: auto;
	height: auto;
}
.member h3,p{
	font-size: 0.9rem;
}


.listProject{
	flex: 2;
}
.all{
	overflow-y: scroll;
}

.pro{
	background: linear-gradient(to right top, #65dfc9, #6cdbed);
	border-radius: 2rem;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pro img{
	max-width: 50%;
	max-height: 50%;
	width: auto;
	height: auto;
	padding: 0rem 1rem;
}
.pro h2{
	color: white;
	font-weight: 600;
	padding: 0rem 1rem;
}

/*TASKS*/
.status{
	margin-bottom: 2rem;
	margin-top: 0.7rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.status input{
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	border: none;
	padding: 0.7rem;
	margin-right: 1rem;
	border-radius: 2rem;
}
.newProject{
	width: 40%;
}
.newTask {
	width: 25%;
}
.content{
	width: 45%;
}
input:focus {
	outline: none;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
}
.status button{
	max-height: 35px;
	background: #426696;
	opacity: 0.8;
	color: white;
	font-family: 'Poppins', sans-serif;
	border: none;
	width: 6.5rem;
	padding: 0.7rem;
	border-radius: 2rem;
	margin-left: 15px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add:hover{
	opacity: 0.75;
}
.listProject{
	margin-left: 4rem;
	margin-right: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.listProject__btnBack{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.listProject__btnBack button{
	border: transparent;
	background-color: transparent;
	margin-right: 1rem;
	cursor: pointer;
}
.listProject__btnBack button:hover{
	background: rgba(255, 255, 255, 0.3);
}

.all{
	border-radius: 1rem;
}

.card{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to left top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8));
	border-radius: 1rem;
	margin: 2rem 0rem;
	margin-right: 1rem;
	padding: 2rem;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.5px;
}
.button{
	display: flex;
	align-items: center;
}
.card button{
	opacity: 0.86;
	color: white;
	width: 4rem;
	font-family: 'Poppins', sans-serif;
	border: none;
	padding: 0.35rem;
	border-radius: 2rem;
	margin-left: 15px;
	margin-top: 0px;
	cursor: pointer;
	transition: opacity 0.2s ease;
}
.edit-task{
	text-decoration: none;
	background:#7CD6CB;
}
.edit-task:hover{
	background: #5DA198;
}
.destroy{
	background: #ED1C24;
}
.destroy:hover{
	opacity: 0.75;
}
.status-task{
	color: #658ec6;
	padding: 0.4rem 0 0.4rem 0;
	display: flex;
	justify-content: flex-start;
}
.status-task-content{
	color: #658ec6;
	padding: 0.4rem 0 0.4rem 0;
	display: flex;
	justify-content: flex-start;
}
.status-task div{
	color: white;
	font-size: 0.8rem;
	padding: 0.2rem 1rem 0.2rem 1rem;
	border-radius: 1rem;
	margin-left: 15px;
}
.status-task1{
	background-color: #F0678A;
}
.status-task1--disable{
	opacity: 0.15;
}
.status-task2{
	background-color: #FFB954;
}
.status-task2--disable{
	opacity: 0.15;
}
.status-task3{
	background-color: #78E388;
}
.status-task3--disable{
	opacity: 0.15;	
}




.statuss__search{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 3rem;
	margin-right: 0;
}
.statuss{
	max-height: 35px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 22px;
}

.statuss input{
	max-height: 35px;
	width: 12rem;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	border: none;
	padding: 0.7rem;
	border-radius: 2rem;
}
input:focus {
	outline: none;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
}
.statuss button{
	max-height: 35px;
	background: #426696;
	opacity: 0.8;
	color: white;
	border: none;
	width: 3rem;
	padding: 0.7rem;
	border-radius: 2rem;
	margin-left: 12px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.search:hover{
	opacity: 0.75;
}

.add_mobile {
	display: none;
}





.edit-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
	margin-top: 5rem;
}

.edit-form__container {
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
	border-radius: 1rem;
	padding: 2rem 3rem;
	margin: 0;
	width: 45rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.edit-form__heading {
	font-size: 1.5rem;
}

.edit-form__form {
	width: 100%;
}
.edit-form__group {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 2.5rem;
}
.edit-form__group-radio {
	display: flex;
	align-items: center;
	padding: 0.3rem 1.5rem 0.3rem 1.5rem;
	border-radius: 2rem;
}
.edit-form__group-radio label {
	margin-left: 0.7rem;
}
.edit-form__group-radio input {
    cursor: pointer;
	box-shadow: none !important;
}
.edit-form__group-radio__1{
	background: #F0678A;
}
.edit-form__group-radio__2{
	background: #FFB954;
}
.edit-form__group-radio__3{
	background: #78E388;
}

.edit-form_input {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 2rem;
}
.edit-form_input label {
	color: #426696;
}

.edit-form__input {
	font-size: 0.9rem;
	padding: 1.2rem;
	width: 79%;
	height: 2rem;
	margin-left: 1rem;
	border-style: hidden;
	border-radius: 2rem;
	background: white;
	box-shadow: rgba(100, 100, 111, 0.18) 0px 7px 16px 0px;
}
.edit-form__input:focus {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}

.radio-label{
	font-size: 1rem;
	color: white;
}


.edit-form__controls {
	margin-top: 4rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.edit-form__btn {
	font-size: 1rem;
	font-weight: 600;
	border: none;
	width: 8rem;
	height: 2rem;
	border-radius: 2rem;
	cursor: pointer;
	transition: opacity 0.2s ease;
	color: white;
	background: #426696;
	opacity: 0.8;
}
.edit-form__btn:hover {
	opacity: 0.75;
}






/* RESPONSIVE */
/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
	/* Background */
	.glass2{
		display: none;
	}
	.circle-glass1{
		display: none;
	}
	.circle-glass2{
		display: none;
	}
	.glass {
	    height: 95vh;
	    width: 96%;
		margin-left: 0;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }


	/* Main */
	.listProject {
		margin-left: 9px;
	    margin-right: 9px;
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
		width: 100%;
	}
	.statuss__search {
		margin-top: 1.4rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	.statuss__search h1 {
		font-size: 1.5rem;
	}


	/* Title, btnBack & Search */
	.listProject__btnBack {
		margin-bottom: 0.75rem;
		margin-left: 1.4rem;
	}
	.listProject__btnBack button {
		margin-right: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.listProject__btnBack img {
		max-height: 17px;
		object-fit: contain;
	}
	.statuss {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
		padding: 1.8rem 9px 1.8rem 9px;
		border-radius: 1.3rem;
	}
	.statuss input {
		width: 100%;
		padding: 0.5rem;
		font-size: 12px;
	}
	.statuss button {
		padding: 0.35rem;
	}
	.status {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 1rem;
		margin-bottom: 0;
	}
	.status input {
		width: 100%;
		padding: 0.5rem;
		font-size: 12px;
		margin: 0;
		margin-bottom: 0.75rem;
	}
	.status button {
		padding: 0.35rem;
		font-size: 12px;
		margin: 0;
	}


	/* List */
	.all {
		border-radius: 1.6rem;
		margin-bottom: 9px;
		margin-top: 1.2rem;
	}
	.all{
		overflow-y: scroll;
	}
	.all::-webkit-scrollbar{
		display: none;
	}
	
	.card {
		border-radius: 1.6rem;
		margin-top: 0;
	    margin-right: 0;
		margin-bottom: 1.4rem;
     	padding: 1.2rem;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
		width: 100%;
	}

	.button2 {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.button2 a {
		margin-top: 3px;
		margin-bottom: 3px;
	}
	.button2 button {
		margin-top: 3px;
		margin-bottom: 3px;
	}

	.card-info h2 {
		font-size: 15px;
	}
	.card-info div {
		font-size: 12px;
	}
	.card-info2 h2 {
		font-size: 15px;
	}
	.card-info2 div {
		font-size: 12px;
	}
	.card button{
		opacity: 0.86;
		font-family: 'Poppins', sans-serif;
		font-size: 11px;
		color: white;
		width: 3.2rem;
		border: none;
		padding: 0.3rem;
		border-radius: 2rem;
		margin-top: 0px;
		cursor: pointer;
		transition: opacity 0.2s ease;
	}

	.status-task div{
		color: white;
		font-size: 10px;
		padding: 0.1rem 0.6rem 0.1rem 0.6rem;
		border-radius: 1rem;
		margin-left: 10px;
	}
	.status-task1{
		background-color: #F0678A;
	}
	.status-task1--disable{
		display: none;
	}
	.status-task2{
		background-color: #FFB954;
	}
	.status-task2--disable{
		display: none;
	}
	.status-task3{
		background-color: #78E388;
	}
	.status-task3--disable{
		display: none;
	}
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
	/* Background */
	.glass2{
		display: none;
	}
	.circle-glass1{
		height: 15rem;
		width: 15rem;
		top: 2%;
		right: 3%;
	}
	.circle-glass2{
		height: 12rem;
		width: 12rem;
		bottom: 1%;
		left: 2%;
	}
	.glass {
	    height: 88vh;
	    width: 80%;
    }
	.status {
		margin-top: 3rem;
		margin-bottom: 2.5rem;
	}
	.card {
		margin-top: 0;
		margin-bottom: 2rem;
	}
}
/* Ipad pro */
@media only screen and (width: 1024px) and (height: 1366px) {
	/* Background */
	.glass2{
		display: none;
	}
	.circle-glass1{
		top: 2%;
		right: 2%;
	}
	.circle-glass2{
		bottom: 1%;
		left: 3%;
	}
	.glass {
	    height: 90vh;
	    width: 80%;
    }
	.status {
		margin-top: 3rem;
		margin-bottom: 2.5rem;
	}
	.card {
		margin-top: 0;
		margin-bottom: 2rem;
	}
}

/* PC: width >= 1024px */
@media only screen and (min-width: 1024px) {
	/* Background */
	.glass {
	    height: 92vh;
    }
	.status {
		margin-top: 3rem;
		margin-bottom: 2.5rem;
	}
	.card {
		margin-top: 0;
		margin-bottom: 2rem;
	}






	.all{
		overflow-y: scroll;
		mask-image: linear-gradient(to top, transparent, black),
		linear-gradient(to left, transparent 17px, black 17px);
		mask-size: 100% 20000px;
		mask-position: left bottom;
		-webkit-mask-image: linear-gradient(to top, transparent, black),
		linear-gradient(to left, transparent 17px, black 17px);
		-webkit-mask-size: 100% 20000px;
		-webkit-mask-position: left bottom;
		transition: mask-position 0.3s, -webkit-mask-position 0.3s;
	
		margin-bottom: 3rem;
	}
	.all:hover {
		-webkit-mask-position: left top;
		mask-position: left top;
	}
	::-webkit-scrollbar{
		width: 6px;
	}
	::-webkit-scrollbar-track:hover{
		background-color:rgba(0,0,0,.05);
		box-shadow:inset 1px 0 0 rgba(0,0,0,.1)
	}
	::-webkit-scrollbar-thumb{
		border: 1px;
		background:rgba(0, 0, 0, .2);
		box-shadow: inset 0 0 5px rgba(255,255,255,.1); 
	}
	::-webkit-scrollbar-thumb:window-inactive{
		background: #fff;
		border: 1px;
	}


	.status-task div{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}